extends /layout/_application

block content
  .client-container
    .client-channels
      .title Trunk

      .subtitle
        | Channels
        i.icon.ion-md-add-circle-outline
      li.items
        ul.item #room_cat
        ul.item #room_dog
    .client-messages
      header.header
        .title #room_cat
      .body
          .message-item(v-for="message in messages")
            img.icon(:src="message.icon")
            .body
              .info
                .name {{ message.name }}
                .time {{ message.time }}
              .text {{ message.text }}


      footer.footer
        .message-footer
          div.input-wrapper
            textarea.input-area(placeholder="Message #root_cat")
            i.send.icon.ion-ios-send
